@{
    ViewBag.Title = "Index";
}

<div style="min-width: 62.25%; max-width: 568px; min-height: 160px; max-height: 100%; float: left;" id="fyu_wojixvm7a2" class="fyu_container fyu_horizontal"></div>
<script src="https://fyu.se/embed?v=2.0"></script>
<script>FYU.add("wojixvm7a2", "fyu_wojixvm7a2", { 'preload': 1 });</script>

<div style="width: calc(100% - 62.25%); float: left;">text</div>