@{
    ViewBag.Title = "Index";
}

<div style="max-width: 62.93%; max-height: 100%;" id="fyu_wojixvm7a2" class="fyu_container fyu_horizontal"></div>
<script src="https://fyu.se/embed?v=2.0"></script>
<script>FYU.add("wojixvm7a2", "fyu_wojixvm7a2", { 'preload': 1 });</script>