@{
    ViewBag.Title = "Index";
}

<div id="frontPage">
    <div id="fyu_wojixvm7a2" class="fyu_container fyu_horizontal"></div>
    <script src="https://fyu.se/embed?v=2.0"></script>
    <script>FYU.add("wojixvm7a2", "fyu_wojixvm7a2", { 'preload': 1 });</script>

    <div id="aboutChefArea">
    <h1>The Chef</h1>
        <p>Enjoy the exotic dishes handpicked by the esteemed Chef from the eastern regions of China. Explore the amazing deep fried taste and discover how the seasons can be communicated through fantastic food.</p>
    </div>
</div>

